<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/overcast/jquery-ui-1.8.20.custom.css') }}" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
        <script src="{{ asset('js/jquery-ui-1.8.20.custom.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui-timepicker-addon.js') }}"></script>
        {% block head %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" ></script>
    </head>
    <body style="padding-top: 60px;">
        <div class="navbar navbar-fixed-top" >
            <div class="navbar-inner" >
                <div class="container" >
                    <a class="brand" href="{{ url('_welcome') }}" >Intranet Security Lab</a>
                    <ul class="nav" >
                        {% set section = 'about' %}
                        <li class="{% if section == 'user' %}active{% endif %}" ><a href="{{path('user')}}" >Membres</a></li>
                        <li class="{% if section == 'group' %}active{% endif %}" ><a href="{{path('group')}}" >Groupes</a></li>
                        <li class="{% if section == 'enterprise' %}active{% endif %}" ><a href="{{path('enterprise')}}" >Entreprises</a></li>
                        <li class="{% if section == 'about' %}active{% endif %}" ><a href="" >About</a></li>
                    </ul>
                    <ul class="nav pull-right" >
                        <li>
                            <a href="{{ path('logout') }}" >
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" >
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
