{% extends '::base.html.twig' %}
{% block body %}
<div class="page-header">
    <h1>Test</h1>
</div>

<table class="record_properties table table-bordered">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Start_date</th>
            <td>{{ entity.startdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Stop_date</th>
            <td>{{ entity.stopdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Corps</th>
            <td>{{ entity.corps }}</td>
        </tr>
    </tbody>
</table>

<div class="row" >
    <div class="record_actions span2 offset1">
        <a class="btn" href="{{ path('enterprise_test', {'id_enterprise': id_enterprise }) }}">
            Back to the list
        </a>
    </div>
        <div class="record_actions span1 offset1">
        <a class="btn" href="{{ path('enterprise_test_edit', { 'id': entity.id, 'id_enterprise': id_enterprise }) }}">
            Edit
        </a>
    </div>
                <form class="offset1 span1 offset1" action="{{ path('enterprise_test_delete', { 'id': entity.id, 'id_enterprise': id_enterprise }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>{% endblock %}
